APP_NAME=NewsCore
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=Asia/Dhaka
APP_URL=http://localhost

DB_CONNECTION=sqlite
DB_DATABASE=/tmp/news-cms.sqlite

SESSION_DRIVER=database
CACHE_STORE=database
QUEUE_CONNECTION=redis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log

# Spatie Permission
PERMISSION_CACHE_EXPIRATION_TIME=1440
